<div class="wrapper">

<div class="container">
  <div class="resume">
    <%=image_tag("resume.jpg")%>
  </div>
  <br>
  <div class="row m-t-70 text-center">
    <div class="col-sm-12">
      <%=link_to "Back", root_url, class: "btn btn-round btn-b"%>
    </div>
  </div>
  <br>
</div>


</div>
