<div class="wrapper">
<!-- NAVIGATION -->
<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!-- MY NAME -->
      <div class="navbar-brand">
        <div class="dark-logo" width="95">Ben Doane</div>
      </div>
      <!--/MY NAME -->
      <!-- COLLAPSING NAV BUTTON -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--/COLLAPSING NAV BUTTON -->
    </div>

    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="" data-toggle="dropdown">Portfolio</a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown">
                <a href="http://www.alltheswingdancing.com" data-toggle="dropdown">All The Swing Dancing </a>
              </li>
              <li class="dropdown">
                <a href="https://salty-journey-3187.herokuapp.com/" data-toggle="dropdown">Todoodles</a>
              </li>
              <li class="dropdown">
                <a href="https://github.com/bendoane" data-toggle="dropdown">GitHub</a>
              </li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="" data-toggle="dropdown">Blog</a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown">
                <a href="http://uptobuildingcode.blogspot.com/" data-toggle="dropdown">Building Code to Building Code</a>
              </li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="" data-toggle="dropdown">Contact</a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown">
                <a href="mailto:ben.doane@gamil.com"data-toggle="dropdown">ben.doane@gmail.com</a>
              </li>
              <li class="dropdown">
                <a data-toggle="dropdown">Ph. 812-499-1621</a>
              </li>
              <li class="dropdown">
                <a href="https://www.linkedin.com/in/ben-doane-b9040348" data-toggle="dropdown">Linked in</a>
              </li>
            </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- /NAVIGATION -->
<div class="container">
  <div class="resume">
    <%=image_tag("resume.jpg")%>
  </div>
  <br>
  <div class="row m-t-70 text-center">
    <div class="col-sm-12">
      <%=link_to "Back", root_url, class: "btn btn-round btn-b"%>
    </div>
  </div>
  <br>
</div>


</div>
